<<<<<<< HEAD
<h1>Lars is better than Laure</h1>
<p>Welcome to LARS IS BETTER THAN LAURE-PAGE</p>
=======
<h1>F U LARS</h1>
<p>Welcome to {{title}}</p>
>>>>>>> 774ea66ef78cd16422480ca05abfd3d3af9991b5


<a href="/student1">See the best student</a>
<a href="/student2">See the lamest student</a>